$field-size: 800px;

.field {
  width: $field-size;
  height: $field-size;
  display: flex;
  flex-wrap: wrap;
  border: black 1px solid;
}

.cell {
  width: 12.5%;
  height: 12.5%;
  // background-color: blanchedalmond;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.figure_whitePawn {
  background-image: url("../../icons/white-pawn.png");
}

.figure_blackPawn {
  background-image: url("../../icons/black-pawn.png");
}

.figure_blackQueen {

  background-image: url("../../icons/black-queen.png");
}

.figure_whiteQueen {
  background-image: url("../../icons/white-queen.png");
}

.figure_blackCastle {
  background-image: url("../../icons/black-castle.png");
}

.figure_whiteCastle {
  background-image: url("../../icons/white-castle.png");
}

.figure_blackOfficer {
  background-image: url("../../icons/black-officer.png");
}

.figure_blackKing {
  background-image: url("../../icons/black-king.png");
}

.figure_blackHorse {
  background-image: url("../../icons/black-horse.png");
}

.figure_whiteOfficer {
  background-position: right;
  background-image: url("../../icons/white-officer.png");
}

.figure {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.activeFigure {
  border: 5px solid yellow;
}

.canGo  {
  background: rgba(#000000, 0.5);
  border: black solid 2px;
}